body { 
    font-family: "MS Gothic", Arial, Helvetica, sans-serif;
    background-color: #0000ff; /*fondo azul sólido*/
    color: #ffffff;
    margin: 0;
    padding: 20px;
}
/*header*/
.hero {
  width: 100%;
  height: 300px; /* Ajusta la altura a tu gusto */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black; /* Opcional: marco de color retro */
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Hace que el GIF llene el banner sin deformarse */
}
/*login*/
.cuadroRetro{
    width: fit-content; 
    border: 3px outset #0000FF; /*efecto 3D*/
    background-color: #2121a0;
    padding: 15px;
    color: #ffffff;
    margin-bottom: 10px;
}
.cuadroRetro_2 {
    width: fit-content;
    padding: 15px;
    color: #ffffff;
    background-color: #2121a0;
    border: 3px solid #CD05BB; /* color inicial */
    animation: parpadeoBorde 1s infinite alternate; /* animación continua */
    margin-bottom: 10px;
}

@keyframes parpadeoBorde {
    0% {
        border-color: #CD05BB;
    }
    25% {
        border-color: yellow;
    }
    50% {
        border-color: #CD05BB;
    }
    75% {
        border-color: yellow;
    }
    100% {
        border-color: #CD05BB;
    }
}
/*ReservaLibros.php*/
.contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*3 libros por fila*/
    gap: 20px;
    max-width: 1000px;
    margin: auto;
}

.libro {
    border: 3px outset purple; /*efecto 3D*/
    padding: 15px;
    color: #ffffff;
}

img {
    max-width: 100px;
    display: block;
    margin-bottom: 10px;
    border-radius: 4px;
}

button {
    background: yellow;
    color: red;
    border: 2px outset #ff0000;
    padding: 8px;
    cursor: pointer;
    width: 100%;
}
button:hover {
    background: red;
    color: yellow;
    border: 2px inset #ff0000; 
}

.mensaje { 
    padding: 10px; 
    margin: 10px 0;
}

input.cantidad {
    width: 50px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #555;
    background-color: white;
    color: black;
    padding: 2px 5px;
}
input, select {
    background-color: #ffffff;
    color: #000000;
    border: 2px inset #555555;
    padding: 2px 5px;
    font-family: "MS Gothic", monospace;
}
/*Enlaces*/
a {
    color: #c8ff00;
    text-decoration: underline;
    font-weight: bold;  
}
a:hover {
    color: #ff00ff;
    text-decoration: none;
}
/*Titulos*/
h3 {
    color: #1ef11e;
}
h4, h2 {
    color: #ffff00; /* amarillo brillante */
}
/*Tamaños inferiores*/
@media (max-width: 900px) {
    .contenedor {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .contenedor {
        grid-template-columns: 1fr;
    }
}