body { 
    font-family: "MS Gothic", Arial, Helvetica, sans-serif;
    background-color: blue; /* fondo azul */
    color: #ffffff;
    margin: 0;
    padding: 20px;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*3 libros por fila*/
    gap: 20px;
    max-width: 1000px;
    margin: auto;
}

.libro {
    border: solid purple; /*borde gris oscuro*/
    padding: 15px;
    color: #ffffff;
}

img {
    max-width: 100px;
    display: block;
    margin-bottom: 10px;
    border-radius: 4px;
}

button {
    background: yellow;
    color: red;
    border: none;
    padding: 8px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background: red;
    color: blue;
}

.mensaje { 
    padding: 10px; 
    margin: 10px 0;
}

input.cantidad {
    width: 50px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #555;
    background-color: white;
    color: black;
    padding: 2px 5px;
}

a {
    color: #2e86de;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 900px) {
    .contenedor {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .contenedor {
        grid-template-columns: 1fr;
    }
}